.App {
  text-align: center;
}
.css-yk16xz-control, .css-yk16xz-control:hover {
	background: none;
	color: #fff !important;
	border: 1px solid #403894;
}
.css-1uccc91-singleValue {
	color: #fff;
}
.css-1uccc91-singleValue img {
	margin-right: 8px;
}
.css-1f43avz-a11yText-A11yText > div {
	background: none !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.nav-item{
  color: #ecf0f4;
  margin-right: 7px;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
